@import "../../..//style/animations";

.panelBody {
    padding: 5px 0;
    opacity: 0;
    animation: 150ms linear slide-from-bottom forwards;
    animation-delay: 100ms;
}

.error {
    visibility: hidden;

    &.isVisible {
        visibility: visible;
    }
}
