.payInfoSection {
    margin-top: 15px;

    .totalText {
        font-size: 1.1em;
        font-weight: 600;
    }
}

.infoPayText {
    transform: translateX(0);
    transition: transform 100ms;
    color: var(--lightContrastColor) !important;

    &.active {
        color: var(--textColor) !important;
        transform: translateX(10px);
    }
}
