.calendarAnimWrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-top: 10px;
    height: 100%;

    .calendarContainer {
        display: flex;
        overflow: hidden;
        height: 100%;
    }
}

@media (max-width: 800px) {
    .calendarAnimWrapper {
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .calendarContainer {
            display: flex;
            flex-direction: column;
            overflow: auto;
        }
    }
}
