@use "../../../../../style/placeholders";

.chart {
    .infoAndPriceSection {
        .showPriceText {
            margin-top: 10px;
            button {
                @extend %text-button;
                padding: 0;
                margin: 0;
                text-decoration: underline;
            }
        }
    }
}
