@import "../../../../../style/animations";

.warning {
    cursor: default;
    margin-right: 10px;

    span {
        border: 1px solid var(--borderColor);
        border-radius: 15px;
        display: block;
        width: 20px;
        height: 20px;
        text-align: center;
    }
}

.timeline {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;

    .timestamp {
        width: 2em;
        height: 1em;
        border: 1px solid var(--borderColor);
        opacity: 0;
        animation: 150ms linear slide-from-left forwards;

        &.regular {
            background-color: var(--contrastColor);

            &:hover {
                border: 2px;
            }
        }
        &.overtime {
            background-color: var(--lightContrastColor);
            &:hover {
                border: 2px;
            }
        }
        &.overwork {
            background-color: var(--darkContrastColor);
            &:hover {
                border: 2px;
            }
        }

        &.half {
            width: 1em;
        }
    }
}
