@import "../../style/placeholders";
@import "../../style/animations";

.summaryBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: var(--summaryWidth);
    opacity: 0;
    animation: 250ms linear slide-from-bottom forwards;
    animation-delay: 300ms;
    @extend %normal-border;

    @media (max-width: 800px) {
        order: -1;
    }
}

.datePicker {
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .dateInputBody {
        width: 100%;
    }

    p {
        margin-bottom: 5px;
        font-size: 12px;
    }

    input {
        width: 4em;
        font-size: 10px;
    }

    span {
        margin-left: 4px;
    }

    button {
        padding: 5px;
        margin: 0;
        font-size: 12px;
    }
}
