@import "../../style/animations";

.calendar {
    display: flex;
    flex-direction: column;
    width: var(--calendarWidth);
    opacity: 0;
    animation: 250ms linear slide-from-bottom forwards;
    animation-delay: 200ms;

    .daysWrapperAnimation {
        overflow: auto;

        .daysWrapper {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            gap: 10px;
            width: 100%;
            padding: {
                top: 0;
                bottom: 0;
                left: 0;
                right: 10px;
            }
            overflow: auto;
        }
    }
}
