.dayBody {
    --containerHeight: 30px;

    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: var(--containerHeight);
    height: fit-content;
    background-color: transparent;
    border: 1px solid var(--borderColor);
    border-radius: 6px;
    transition: max-height 250ms linear;
    overflow: hidden;

    &.expanded {
        max-height: 500px;
    }

    p {
        color: var(--textColor);
        margin: 0;
    }
}

.headerContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--containerHeight);
    padding: 0 5px;
    button {
        border: none;
        box-shadow: none;
        padding: 0;
    }
}
