$mainColor-dark: #000;
$secondaryColor-dark: #212121;
$bgColor-dark: #070707;
$borderColor-dark: #82868b;
$textColor-dark: #fff;
$darkContrastColor-dark: #545454;
$lightContrastColor-dark: #d1d1d1;
$contrastColor-dark: #fff;

$mainColor-light: #fff;
$secondaryColor-light: #e9e9e9;
$bgColor-light: #fcfcfc;
$borderColor-light: #82868b;
$textColor-light: #000;
$darkContrastColor-light: #545454;
$lightContrastColor-light: #212121;
$contrastColor-light: #000;
