[class~="bodyInOut"] {
    width: 100%;
    height: 100%;
}

.mainBody {
    --calendarWidth: 70%;
    --summaryWidth: calc(100% - var(--calendarWidth));

    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: var(--mainColor);
    padding: 15px;

    @media (max-width: 800px) {
        --calendarWidth: 100%;
        --summaryWidth: 100%;
    }
}
