[class~="bodyInOut"] {
    width: 100%;
    height: 100%;
}

.mainBody {
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--mainColor);
    padding: 15px;
}

.calendarContainer {
    display: flex;
}
